/* some definitions based on the 12-pixel scale */
h1 { 
	font-size : 1.5em;      
	/* note that we could use font-weight : normal as an "off switch" for the usual bold style used here. */
	text-transform : uppercase;    
	letter-spacing : 0.1em; /* added on top of normal spacing */
	word-spacing : 0.5em; /* added on top of normal spacing */
}      

h2 { 
	font-size : 1.3em; 
}

h3 { 
	font-size : 0.875em; 
}

body { 
	font-size : 100%;       
	line-height : 1.4em;
} 

p { 
	font-size : 1em; 
} 

p[firstletter="1.5"]:first-letter { 
	font-size : 1.5em; 
}
     
/* stuff that's custom for the page */ 
h1 {    
	color: red; 
}         
    
.poemgroup {   
	border: 1px solid #665544; 
	padding: 10px;   
	list-style-type: none;      
}

div.poemgroup {   
	background-color: #000000;  
	color: #D3D3D3;           
	font-family: Arial, Verdana, sans-serif;
}    

div.poemgroup a {            
	font-family: serif;
}   
      
/* any ul child of a .poemgroup-class tag will have this style */
.poemgroup ul {    
	font-size: .8em; 
	list-style: square; /* NB that we can add 'inside' or 'outside' to this, like "list-style: outside square;" */
}    
     
/* for text we want to hide but still want to have available to screen readers, etc. : 
indent it all the way off the page */     
/* interestingly, this seems only to apply correctly to block elements, not inline elements */
.hidetext {     
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}         

a:link { 
	color: deeppink; 
	text-decoration: none; }                             
	
a:visited { 
	color: black; }
	
a:hover {  
	color: deeppink;
	text-decoration: underline; }    
	
input:focus[type="text"], input:focus[type="password"] {  
		background-color: lightgray;
		text-decoration: underline; }
 
fieldset.descriptive { 
	min-width: 400px; 
	max-width: 650px; 
	text-align: left; 
	margin: 0px;    
	border: 1px solid #dcdcdc; 
	border-radius : 10px;   
}  

legend { 
	background-color: #efefef; 
	border: 1px solid #dcdcdc; 
	border-radius : 10px; 
	padding : 5px 10px; 
	text-align : left; 
	text-transform : uppercase; 
	} 

table.editionstable {    
	border : 2px solid black;   
	border-collapse : separate;
	empty-cells : hide;
	}  

table.editionstable th[scope="col"] { 
	border-bottom : 2px solid black;  
	}	    

table.editionstable td { 
	background-color: #efefef;
	}   

div { 
	border-bottom: 1px solid #efefef; 
	margin: 10px; 
	padding-bottom: 10px; 
	width: 500px; 
	overflow: auto;
}

label.title, span.title { 
	float: left; 
	width: 200px; 
	text-align: right; 
	padding-right: 10px; 
	overflow: hidden;
}  

submit { 
	text-align: right; 
}